
# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore build artifacts
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment configuration files
.env

# Ignore IDE specific files
.vscode/
.idea/